* {
  margin: 0;
  padding: 0;
}

body {
  /* margin: 0; */
  /* display: flex;
  place-items: center;
  min-width: 320px; */
  min-height: 100vh;
  /* background-image: url("./assets/image/bg_1.png") ; */
}
/* body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: repeat url("./assets/image/bg_4.jpg") center;
  filter: blur(50px);
} */
